body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.notice{
    color: brown;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 20px;
}
.half-width img{
    width: 90%;
    padding-top: 5px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(brown, rgb(231, 65, 143));
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}